{% extends "base.html.twig" %}

{% block stylesheets %}
<link href="{{ asset('bundles/app/plugins/sweetalert/css/sweetalert.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block headercontent %}
       <div class="col-lg-10">
        <h2>Empresas</h2>
        <h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('app_homepage')}}">Inicio</a>
                </li>
                <li class="breadcrumb-item active">
                    Empresas
                </li>
             </ol>
         </h4>
     </div>
     <div class="col-lg-2"></div>
{% endblock %}

{% block content %}    
    <div class="box">
        <div class="box-header">
            <div class="row">  
            <form action="{{path('app_admin_companies_search_index')}}" method="get">
            <div class="col-xs-12 col-lg-12 col-md-12">

             <div class="input-group">   
                {% set criterio="" %}
                {% if texto is defined %}
                    {% set criterio=texto %}
                {% endif %}

                     <input class="form-control" placeholder="Buscar.." name="text" type="text" value='{{criterio}}'>
                     <span class="input-group-btn">
                         <button class="btn btn-default btn-flat" type="submit"><i class="fa fa-search"></i> Buscar </button>
                     </span>        
                     <span class="input-group-btn">
                         <a class="btn btn-primary btn-flat" href="{{path('app_admin_companies_new')}}"><i class="fa fa-plus"></i> Nuevo </a>
                     </span>        
             </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            </form>
            </div>
        </div>
        <div class="box-body">       
            <table class="table table-bordered table-hover">    
                <tbody>
                <tr>
                {# sorting of properties based on query components #}
                     <th>#</th>
                     <th>{{knp_pagination_sortable(pagination, 'Nombre','l.nombre', {'direction':'asc'})}}</th>
                     <th>{{knp_pagination_sortable(pagination, 'Email','l.email', {'direction':'asc'})}}</th>
                     <th>{{knp_pagination_sortable(pagination, 'Teléfono','l.phone', {'direction':'asc'})}}</th>
                     <th>Sector</th>
                     <th></th>                     
                     
                     
                    {#<th> 'Release', ['a.date', 'a.time']) }}</th>#}
                </tr>        
                {% for c in pagination %}
                    <tr>
                        <td>
                            {{c.id}}
                        </td>
                        <td>
                            {{ c.name }}
                        </td>

                        <td>
                            {{ c.email }}
                        </td>
                        
                        <td>
                            {{ c.phone }}
                        </td>
                        
                        <td>
                            {{ c.sector }}
                        </td>
                        
                        <td>
                            <a href="{{path('app_admin_companies_edit', {'id':c.id})}}"><i class="fa fa-edit"></i></a>
                        </td>

                        <td>
                            <a class='botonAnular' data-id={{c.id}} href="#"><i class="fa fa-times"></i></a>
                        </td>

                    </tr>
                {% else %}
                    <tr class="danger">
                        <td colspan="4">
                            No hay resultados para mostrar.
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table> 
        </div>        
        <div class="box-footer">    
            <div class="pull-left">
                Total Registros: {{pagination.getTotalItemCount }}
            </div>
            <div class="pull-right">
                {{ knp_pagination_render(pagination) }}
            </div>

        </div><!-- box-footer -->
    </div>
{% endblock %}

{% block javascripts %}

<script src="{{asset('bundles/app/plugins/sweetalert/js/sweetalert.min.js')}}" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        $('.botonAnular').on('click', function (e) {
            var xid;
            xid=$(this).attr('data-id');

            xurlp = "{{path('app_admin_companies_remove', {'id':'xid'})}}";
            xurlFinal=xurlp.replace('xid',xid);


            swal({
                title: "¿Esta seguro que desea eliminar esta información.?",
                text: "Se proceder a borrar la información",
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#00a65a",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        swal("Información", "Iniciado", "success");
                        $.ajax({
                            url: xurlFinal,
                            method: "POST",
                            data: "",
                            dataType: "json",
                            success: function (data) {
                                console.log(data);
                                if (!data.guardado) {
                                    swal("Proceso", "Proceso no realizado", "error");
                                } else {
                                    swal("Proceso", "Proceso realizado satisfactoriamente", "success");
                                  
                                    xurlp = "{{path('app_admin_companies_index')}}";
                                    setTimeout(function () {
                                        document.location.href = xurlp;
                                    }, 2000);

                                }

                            }
                        })
                    } else {
                        swal("Información", "Se cancelo el proceso", "error");
                    }
                }
            );

        });

    });
    </script>

    {% endblock %}